@model Models.ViewModel.LoginViewModel
@{
    ViewData["title"] = "Giriþ";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  mb-3">
                <label asp-for="UserName">Kullanýcý Adý</label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password">Parola</label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info"><i class="fas fa-sign-in-alt"></i> Giriþ Yap</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}