@{
ViewBag.Title = "title";
Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>DreamsCLG</title>
		
		<!-- Favicons -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">

	</head>		
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper home">
					
			<!-- Start Navigation -->
				
		<!-- Home Banner -->
		<section class="section home-banner row-middle">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7">
							<div class="banner-content">
								<p>DreamsCLG</p> 
								<h1>Achieve Your Dreams.</h1>
								<h1>Book your Course.</h1>
								<div class="btn-item">
									<a class="btn get-btn" href="courses.html">Get Started</a>
									<a class="btn courses-btn" href="courses.html">All Courses</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<!-- /Home Banner -->
	
		<!-- Our Colleges -->
		<section class="section college">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-7 mx-auto">
						<div class="section-header text-center">
							<h5>Top Colleges</h5>
							<h2 class="header-title">DISCOVER OUR COLLEGES</h2>
						</div>
					</div>
					
					<div class="col-md-12">
						<div class="college-slider slider">
							
							<!-- College Item -->
								<div class="services-item">
									<div class="img-part">
										<img src="assets/img/college/college-01.png" class="img-fluid" alt="">
									</div>
									<div class="content-part">
									<div class="content-text">
										<h3>Imperial College London</h3>
										<h4 class="title">65 Courses</h4>
									</div>
									</div>
								</div>
								<!-- /College Item -->
								
								<!-- College Item -->
								<div class="services-item">
									<div class="img-part">
										<img src="assets/img/college/college-02.png" class="img-fluid" alt="">
									</div>
									<div class="content-part">
									<div class="content-text">
										<h3>King's College London</h3>
										<h4 class="title">15 Courses</h4>
									</div>
									</div>
								</div>
								<!-- /College Item -->
								
								<!-- College Item -->
								<div class="services-item">
									<div class="img-part">
										<img src="assets/img/college/college-01.png" class="img-fluid" alt="">
									</div>
									<div class="content-part">
									<div class="content-text">
										<h3>London Business School</h3>
										<h4 class="title">40 Courses</h4>
									</div>
									</div>
								</div>
								<!-- /College Item -->
								
								<!-- College Item -->
								<div class="services-item">
									<div class="img-part">
										<img src="assets/img/college/college-02.png" class="img-fluid" alt="">
									</div>
									<div class="content-part">
									<div class="content-text">
										<h3>Imperial College London</h3>
										<h4 class="title">65 Courses</h4>
									</div>
									</div>
								</div>
								<!-- /College Item -->						
						</div>					
					</div>
				</div>
						
				<div class="row">
					<div class="col-12">
						<div class="clg see-all text-center"> 
							<a href="college.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a>
						</div>
					</div>
				</div>
				<!--- End Colleges  -->
				
				<!--- Latest Courses  -->
				<div class="clg-course">
				<div class="row">
					<div class="col-12 col-md-7 mx-auto">
						<div class="section-header text-center">
							<h5>Latest Course</h5>
							<h2 class="header-title">WE PROVIDE BEST COURSES</h2>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-01.jpg" alt="" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Electrical Engineering</a></h2>
								<p>Technology / Space / Electrical</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->				
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-02.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Computer Engineering</a></h2>
								<p>Technology / Space / Computer</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-03.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Construction Design</a></h2>
								<p>Technology / Space / Construction</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-04.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Aerospace Engineering</a></h2>
								<p>Technology / Space / Aerospace</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-05.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Architectural Design</a></h2>
								<p>Technology / Space / Architecture</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-06.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Bachelor of Fine Arts </a></h2>
								<p>Technology / Space / Arts</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-07.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Business Management</a></h2>
								<p>Technology / College / Business</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
					
					<!--- Course-Item  -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="course-section">
							<div class="course-top">
								<div class="course-img">
									<a href="course-details.html"><img src="assets/img/courses/course-08.jpg" alt="image" class="img-fluid"></a>
								</div>
								<div class="course-text d-flex justify-content-between align-items-center">
									<div class="left">3.2</div>
										<div class="right">$40.00</div>
									</div>
								<div class="course-user">
									<img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
								</div>
							</div>
							<div class="course-content">
								<h5>Imperial College London</h5>
								<h2><a href="course-details.html">Electrical Engineering</a></h2>
								<p>Technology / Space / Electrical</p>							
								<div class="d-flex align-items-center justify-content-between course-slots">
									<div class="slot">
										<p>Total Seats</p>
										<h5>200</h5>
									</div>
									<div class="slot">
										<p>Available</p>
										<h5>100</h5>
									</div>
									<div class="slot">
										<p>Duration</p>
										<h5>6 Months</h5>
									</div>
								</div>
								<div class="text-center">
									<a href="instructor-profile.html" class="btn course-btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
					<!--- /Course-Item  -->
				</div>
				
				<div class="row">
					<div class="col-12">
						<div class="see-all  text-center"> 
							<a href="courses.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a>
						</div>
					</div>
				</div>
				
				</div>
			</div>
		</section>
		<!-- END courses -->
	
		<!-- Students Courses -->
		<section class="section student">
			<div class="container">
					<div class="row">
					<div class="col-md-10 mx-auto"> 
						<h5>We Are Best</h5>
						<h3>5500+ STUDENTS TRUSTED COURSES</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minim veniam, quised nostrud exercitation. Duis aute irure dolor in reprehen derit in voluptate </p>
						<div class="button"><a href="courses.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a></div>
					</div>
					</div>
				</div>
		</section>
		<!-- End Students Courses -->	
	
		<!-- Top Instructor -->
		<section class="section instructor">
			<div class="container">
					<div class="row">
						<div class="col-md-7 col-sm-12 col-12 mx-auto">
								<div class="section-header text-center">
									<h5>OUR INSTRUCTORS</h5>
									<h2 class="header-title">MEET OUR EXPERT INSTUCTORS</h2>
								</div>
						</div>
					</div>
						
					<div class="row">
						<div class="col-md-12">
							<div class="instructor-slider slider">
							
							<!-- Instructor Item -->
							<div class="instructor-item">
								<div class="profile-box">
									<div class="img-part">
										<img src="assets/img/instructors/instructor-thumb-01.jpg" class="img-fluid" alt="instructor">
									</div>
									<div class="profile-info">
										<div class="rating"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star non-checked"></i><i class="fa fa-star non-checked"></i></div>
										<h3><a href="instructor-profile.html">David Lee</a></h3>
										<h4>Aerospace Engineering</h4>		
									</div>
									<div class="instructor-line"></div>	
								</div>
								<div class="profile-detail">
									<div class="row">
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-01.png" class="img-fluid" alt="college"></div>
											<div><p>University of Hertfordshire</p></div>
										</div>
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-02.png" class="img-fluid" alt="college"></div>
											<div><h5>Expertise</h5> <p class="exp">Aerodynamics</p> </div>
										</div>
									</div>
									<div class="d-flex justify-content-between align-items-center"> 
										<div class="experience">Experience : 25 years</div>
										<a href="booking.html" class="btn btn-read">BOOK NOW</a>
									</div>	
								</div>	
							</div>
							<!-- /Instructor Item -->
							
							<!-- Instructor Item -->
							<div class="instructor-item">
								<div class="profile-box">
									<div class="img-part">
										<img src="assets/img/instructors/instructor-thumb-02.jpg" class="img-fluid" alt="instructor">
									</div>
									<div class="profile-info">
										<div class="rating"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star non-checked"></i><i class="fa fa-star non-checked"></i></div>
										<h3><a href="instructor-profile.html">Sofia Brient</a></h3>
										<h4>Aerospace Engineering</h4>						
									</div>
									<div class="instructor-line"></div>
								</div>
								<div class="profile-detail">
									<div class="row">
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-01.png" class="img-fluid" alt="college"></div>
											<div><p>University of Hertfordshire</p></div>
										</div>
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-02.png" class="img-fluid" alt="college"></div>
											<div><h5>Expertise</h5> <p class="exp">Aerodynamics</p> </div>
										</div>
									</div>
									<div class="d-flex justify-content-between align-items-center"> 
										<div class="experience">Experience : 25 years</div>
										<a href="booking.html" class="btn btn-read">BOOK NOW</a>
									</div>	
								</div>	
							</div>
							<!-- /Instructor Item -->
							
							<!-- Instructor Item -->
							<div class="instructor-item">
								<div class="profile-box">
									<div class="img-part">
										<img src="assets/img/instructors/instructor-thumb-03.jpg" class="img-fluid" alt="instructor">
									</div>
									<div class="profile-info">
										<div class="rating"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star non-checked"></i><i class="fa fa-star non-checked"></i></div>
										<h3><a href="instructor-profile.html">Darren Pennet</a></h3>
										<h4>Aerospace Engineering</h4>						
									</div>
									<div class="instructor-line"></div>
								</div>							
								<div class="profile-detail">
									<div class="row">
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-01.png" class="img-fluid" alt="college"></div>
											<div><p>University of Hertfordshire</p></div>
										</div>
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-02.png" class="img-fluid" alt="college"></div>
											<div><h5>Expertise</h5> <p class="exp">Aerodynamics</p> </div>
										</div>
									</div>
									<div class="d-flex justify-content-between align-items-center"> 
										<div class="experience">Experience : 25 years</div>
										<a href="booking.html" class="btn btn-read">BOOK NOW</a>
									</div>	
								</div>	
							</div>
							<!-- /Instructor Item -->
							
							<!-- Instructor Item -->
							<div class="instructor-item">
								<div class="profile-box">
									<div class="img-part">
										<img src="assets/img/instructors/instructor-thumb-04.jpg" class="img-fluid" alt="instructor">
									</div>
									<div class="profile-info">
										<div class="rating"><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star non-checked"></i><i class="fa fa-star non-checked"></i></div>
										<h3><a href="instructor-profile.html">Ruby Perrin</a></h3>
										<h4>Aerospace Engineering</h4>						
									</div>
									<div class="instructor-line"></div>
								</div>
								<div class="profile-detail">
									<div class="row">
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-01.png" class="img-fluid" alt="college"></div>
											<div><p>University of Hertfordshire</p></div>
										</div>
										<div class="col-6 d-flex align-items-center clg">
											<div class="icon"><img src="assets/img/icon/icon-02.png" class="img-fluid" alt="college"></div>
											<div><h5>Expertise</h5> <p class="exp">Aerodynamics</p> </div>
										</div>
									</div>
									<div class="d-flex justify-content-between align-items-center"> 
										<div class="experience">Experience : 25 years</div>
										<a href="booking.html" class="btn btn-read">BOOK NOW</a>
									</div>	
								</div>	
							</div>
							<!-- /Instructor Item -->
							
							</div>
						</div>
					</div>
						
					<div class="row">
						<div class="col-12">
							<div class="see-all  text-center"> 
								<a href="map-list.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a>
							</div>
						</div>
					</div>
			</div>
		</section>
		<!-- End Instructor -->
	
		<!-- Register -->
		<section class="section register">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5 col-md-7 mx-auto text-center position-relative">
						<h5>Register Now</h5>
						<h2 class="header-title">Get 5+ Courses Free Access on Register</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut laboreet dolore magna</p>
					</div>
					<div class="col-12 col-lg-12 mx-auto text-center position-relative">
							<div class="reg-count d-flex justify-content-center">
								<div class="count">
									<span>45</span>
									<p>Days</p>
								</div>
								<div class="count">
									<span>12</span>
									<p>Hrs</p>
								</div>
								<div class="count">
									<span>36</span>
									<p>Min</p>
								</div>
								<div class="count">
									<span>36</span>
									<p>Min</p>
								</div>
							</div>
							<a href="register.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a>
					</div>
				</div>
			</div>
		</section>
		<!-- End Register -->
	
	
		<!-- Review -->
		<section class="section review indexone">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-header text-center">
							<h5>OUR REVIEWS</h5>
							<h2 class="header-title">CHECK OUR STUDENTS REVIEWS</h2>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-12">
						<div class="review-slider slider">
						
							<!-- Review Widget -->
								<div class="review-blog">
									<div class="review-top d-flex align-items-center">
										<div class="review-img">
											<a href="javascript:void(0);"><img class="img-fluid" src="assets/img/review/review-01.jpg" alt="Post Image"></a>
										</div>
										<div class="review-info">
											<h3>Davis Payerf</h3>
											<h5>Mechanical Engineering</h5>								
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="average-rating">3.2</span>
											</div>
										</div>
									</div>
									<div class="review-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat</p>
									</div>
								</div>
								<!-- / Review Widget -->
								
								<!-- Review Widget -->
								<div class="review-blog">
									<div class="review-top d-flex align-items-center">
										<div class="review-img">
											<a href="javascript:void(0);"><img class="img-fluid" src="assets/img/review/review-01.jpg" alt="Post Image"></a>
										</div>
										<div class="review-info">
											<h3>Davis Payerf</h3>
											<h5>Mechanical Engineering</h5>								
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="average-rating">3.2</span>
											</div>
										</div>
									</div>
									<div class="review-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat</p>
									</div>
								</div>
								<!-- /Review Widget -->
								
								<!-- Review Widget -->
								
								<div class="review-blog">
									<div class="review-top d-flex align-items-center">
										<div class="review-img">
											<a href="javascript:void(0);"><img class="img-fluid" src="assets/img/review/review-01.jpg" alt="Post Image"></a>
										</div>
										<div class="review-info">
											<h3>Davis Payerf</h3>
											<h5>Mechanical Engineering</h5>								
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="average-rating">3.2</span>
											</div>
										</div>
									</div>
									<div class="review-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean. Eget volutpat</p>
									</div>
								</div>
								<!-- /Review Widget -->
							
						</div>
					</div>					
				</div>
			</div>
		</section>
		<!-- / Review -->
	
		<!-- News -->
		<section class="section news">
			<div class="container">
			
				<div class="row">
					<div class="col-12">
						<div class="section-header text-center">
							<h5>OUR NEWS</h5>
							<h2 class="header-title">OUR LATEST NEWS</h2>
						</div>
					</div>
				</div>
				
				<div class="row">
				
					<!-- News Widget -->
					<div class="col-md-12">
						<div class="news-blog d-flex">
							<div class="news-img">
								<img src="assets/img/news/news-01.jpg" class="img-fluid" alt="">
							</div>
							<div class="d-flex align-items-center">
								<div class="news-content">
									<span>June 21, 2020</span>
									<h2><a href="blog-details.html">While the lovely valley team work</a></h2>
									<p>Event Description. A party is a gathering of people who have been invited by a host for the purposes of… </p>
								</div>
								<div class=""><a href="blog-details.html" class="btn btn-read">READ MORE</a></div>
							</div>
						</div>
					</div>
					<!-- /News Widget -->
					
					<!-- News Widget -->
					<div class="col-md-12">
						<div class="news-blog d-flex">
							<div class="news-img">
								<img src="assets/img/news/news-02.jpg" class="img-fluid" alt="">
							</div>
							<div class="d-flex align-items-center">
								<div class="news-content">
									<span>June 21, 2020</span>
									<h2><a href="blog-details.html">While the lovely valley team work</a></h2>
									<p>Event Description. A party is a gathering of people who have been invited by a host for the purposes of… </p>
								</div>
								<div class=""><a href="blog-details.html" class="btn btn-read">READ MORE</a></div>
							</div>
						</div>
					</div>
					<!-- /News Widget -->
					
					<div class="col-md-12">
						<div class="see-all"> 
							<a href="blog-grid.html" class="btn all-btn">View all <i class="fas fa-caret-right right-arrow"></i></a>
						</div>
					</div>
					
				</div>			
			</div>
		</section>
		<!-- / News -->	
	
		
		</div>		
		<!-- /Main Wrapper -->
	
		<!-- jQuery -->
		  <script src="assets/js/jquery-3.6.1.min.js"></script>
		  
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
	
	</body>
</html>