@model Models.DTOs.ErrorDto
@{
    ViewData["Title"] = "Hata";
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="d-flex justify-content-center mt-5">
    <h1 class="text-danger">@Model.Message</h1>
</div>