@using Models.Enums
@using DTOs.DTOs
@{
    ViewData["title"] = "Randevu Oluþtur";
}
@model DTOs.DTOs.NewAppointmentDto


<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Randevu Oluþtur</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">
            <!-- FullCalendar container -->
            <div class="row mb-2">
                <div class="d-flex justify-content-center">
                    <div class="col-mb-6">
                        <input class="form-control" type="date" id="calendarDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
    </div>

</div>
<!-- /Main Wrapper -->

<!-- Edit Customer Details Modal -->
<div class="modal fade custom-modal" id="editCustomerDetailsModal" tabindex="-1" aria-labelledby="editCustomerDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title" id="editCustomerDetailsModalLabel">Randevu Bilgileri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <p id="AppointmentRange"></p>
                    <form asp-action="NewAppointment" method="post" autocomplete="off">
                        <input asp-for="StartTime" type="hidden"/>
                        <input asp-for="EndTime" type="hidden"/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group row mb-3">
                            <label asp-for="Name" class="col-sm-3 col-form-label">Ýsim</label>
                            <div class="col-sm-9">
                                <input asp-for="Name" class="form-control" required/>
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-3">
                            <label asp-for="Surname" class="col-sm-3 col-form-label">Soyisim</label>
                            <div class="col-sm-9">
                                <input asp-for="Surname" class="form-control" required/>
                            </div>
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-3">
                            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label">Telefon</label>
                            <div class="col-sm-9">
                                <input asp-for="PhoneNumber" class="form-control" required/>
                            </div>
                            <span asp-validation-for="PhoneNumber" type="tel" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-3">
                            <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input asp-for="Email" type="email" class="form-control"required/>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-3">
                            <label asp-for="Address" class="col-sm-3 col-form-label">Adres</label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control" required/>
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-3">
                            <label asp-for="Description" class="col-sm-3 col-form-label">Açýklama</label>
                            <div class="col-sm-9">
                                <input asp-for="Description" class="form-control" required/>
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Customer Details Modal -->

@section Scripts {
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.tr.min.js"></script>

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/locales/tr.js"></script>

    <script src="~/assets/js/calendar.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
            const customerModal = $("#editCustomerDetailsModal");
            const eventsURL = '@Url.Action("GetSlots", "Appointments")';
            renderCalendar(eventsURL, {
                select: ({start, end}) => {
                    $("#AppointmentRange").html(formattedTime(start) + " &nbsp;&nbsp;&nbsp;&nbsp; " + formattedTime(end))
                    customerModal.modal('show');
                    $("#StartTime").val(formattedTime(start));
                    $("#EndTime").val(formattedTime(end));
                },
                selectAllow: (info) => {
                    return true;
                }
            });
            if (@(ViewData.ModelState.ErrorCount) > 0) {
                customerModal.modal('show');
            }
        });
    </script>
}